.navBarSearch {
    border-bottom: 0.02rem solid #ccc;
    height: 0.9rem;
    width: 100vw;
    background: #f8f8f8;
    padding: 0 0.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.imgSearch {
    width: 0.42rem;
    height: 0.42rem;
    position: absolute;
    top: 0.24rem;
    left: 0.44rem;
}
.searchItem {
    width: 79vw;
    height: 0.64rem;
    border: 1px solid #c3c3c3;
    border-radius: 0.3rem;
    margin-left: -0.2rem;
    background: #fff;
    font-size: 0.28rem;
    font-family: cursive;
    font-weight: 500;
    padding-left: .72rem;
    padding-right: .3rem;
}
.btn {
    font-size: 0.32rem;
    font-family: cursive;
    font-weight: bold;
    color: #00ba00;
}
