.meBackImg {
    width: 100vw;
    height: 4rem;
    position: relative;
}
.meBackImg .backImg {
    position: absolute;
    top: 0;
    left: 0;
}
.loginenter {
    position: absolute;
    top: 1rem;
    left: 50vw;
}
.userPortrait {
    width: 1.2rem;
    height: 1.2rem;
    transform: translateX(-50%);
}
.user {
    font-size: 0.28rem !important;
    font-family: cursive;
    font-weight: bold;
    color: #fff;
    margin-top: .1rem;
    transform: translateX(-50%);
}
.am-list-body {
    width: 100vw;
    position: absolute;
    top: 4.4rem;
}
.loginout {
    width: 100vw;
    height: 0.8rem;
    position: absolute;
    top: 7rem;
    left: 0;
    font-size: 0.3rem;
    font-family: cursive;
    font-weight: bold;
    color: red;
    background: #fff;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.am-list-item .am-list-line .am-list-content {
    font-size: 0.3rem;
    font-family: cursive;
}
.meItem .am-list-body {
    top: 4.7rem;
}